In [3]:
import pandas as pd

df = pd.read_parquet("hf://datasets/TimKoornstra/synthetic-financial-tweets-sentiment/data/train-00000-of-00001.parquet")

In [4]:
df.shape

(1428771, 2)

In [5]:
df.head()

                                               tweet  sentiment
0  ðŸ’° Cashing out stocks today has left me with a ...          2
1  ðŸ’¸ Losing half my investments in the last month...          2
2  ðŸ“‰ Crypto bubble finally bursts! The crypto tra...          2
3  ðŸ”¥ The blazing inferno engulfs the stock market...          2
4  ðŸ¥¶ My stocks are stuck in an icy grip today. Fi...          2